@use "../globals/" as *;
@use "../utilities/" as *;

#gameboard-ctn {
	display: flex;
	gap: rem(25);
}

#ship-selection-ctn {
	display: flex;
	gap: rem(25);

	.ship-ctn {
		display: flex;
		gap: rem(5);
		border: 3px solid $clr-gray-lt;

		.placement-tile {
			background-color: green;
			width: rem(24);
			height: rem(24);
		}
	}

	.active-placement {
		border: 3px solid black;
	}
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: rem(5);

	.p1-tile,
	.p2-tile {
		background-color: blue;
		max-width: 100%;
		width: rem(32);
		height: rem(32);
	}

	.direct-hover {
		background-color: green;
	}

	.indirect-hover {
		background-color: lightgreen;
	}
}
