@use "../globals/" as *;
@use "../utilities/" as *;

#gameover-menu-bg {
	background-color: hsla(0, 0%, 100%, 0.5);
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	#gameover-menu {
		background-color: white;
		width: rem(300);
		border-radius: rem(10);
		filter: drop-shadow(0 0 rem(15) #000);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: rem(15);
		gap: rem(20);

		h3 {
			font-size: rem(20);
			font-weight: 700;
		}

		button {
			width: 50%;
		}
	}
}
