// Primary Colors
$clr-hover: hsl(195, 59%, 52%);
$clr-placed: hsl(221, 100%, 53%);
$clr-hit: hsl(4, 85%, 55%);
$clr-miss: hsl(160, 84%, 46%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray-lt: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-dk: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);
